@media (max-width: 650px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .header nav{
        flex-direction: column;
    }

    .nosotros_container{
        flex-direction: column;
    }

    .nosotros-container__img img{
        padding: 20px;
        width: 320px;
    }

    .nosotros-container__desc{
        width: 90%;
        padding: 10px;
        margin: 10px;
    }
    .cupcake-container__img img{
        width: 250px;
        height: 250px;
    }
    .cupcake-container__desc{
        padding: 10px;
    }

    
.cupcake-container__img {
    display: flex;
    justify-content: center;
}


    .cupcakes{
        flex-direction: column;
        justify-content: center;
    }

}

@media (min-width: 651px) and (max-width: 980px){

    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 980px) and (max-width: 1200px){
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}


